
:root {
  --white: #fff;
  --black: #000;
  --blue: #2196f3;
  --darkgrey: #2f303a;
  --grey: #757575;
  --lightgrey: #e5e5e5;
  --lightcream: #ececec;
  --notblack: #212121;
  --notwhite: #f5f4fa;
  --footerlinks: #ffffff60;
  --productborder: #eeeeee;
  --background: rgba(47, 48, 58, 0.4);
  --iconcolor: #afb1b8;
  --btn-shadow: rgba(0, 0, 0, 0.15);
  --footericon: rgba(255, 255, 255, 0.1);
  --transition: cubic-bezier(0.4, 0, 0.2, 1);
}


/* Global styles used throughout whole website */
* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
  box-sizing: border-box;
}
img {
display: block;
}

p, ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
  font-family: "Roboto", "Raleway", sans-serif;
  color: #757575;
  font-size: 14px;
  letter-spacing: 0.03em;
  margin: 0;
  padding: 0;
  background-color: #fff;
}
.container {
  width: 1200px;
  margin: 0 auto;
}
.section { 
padding-top: 94px;
padding-bottom: 94px;
}


.footer__social-link:hover, 
.footer__social-link:focus {
    background-color: #2196f3;
}
.footer__contact-link:hover, .footer__contact-link:focus {
    color: #2196f3;
}
.footer__contact-link {
    color: rgba(255,255,255,.6);
    transition: 250ms color cubic-bezier(0.4, 0, 0.2, 1);
}

/* Styles for header section */

.header {
  align-items: center;
  gap: 93px;
  flex-direction: row;
  padding: 25px 0 24px 0;
  display: flex;
  justify-content: center;
}
.header-line-border {
  border-bottom: #ececec solid 1px;
}

.header__logo {
  font-family: "Raleway";
  color: #000;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.193;
  letter-spacing: 0.03em;
}
.header__logo-color {
  color: #2196f3;
}
.header__active::after {
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    top: 45px;
    bottom: 0;
    left: 0;
    background-color: #2196f3;
    transform: translateY(30px);
    border-radius: 2px;
}

.header__nav {
  display: flex;
  align-items: center;
  line-height: 1.2;
  gap: 46px;
  font-weight: 500;
}
.header__nav-color {
  color: #212121;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header__nav-color:hover, .header__nav-color:focus {
    color: #2196f3;
}
.header__active {
  color: #2196f3;
}
.header__contacts {
  display: flex;
  font-weight: 500;
  letter-spacing: .02em;
  line-height: 1.2;
  gap: 50px;
  margin-left: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header__contacts-color {
    display: flex;
    align-items: center;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: .02em;
    color: #757575;
    fill: #757575;
    transition: 250ms fill cubic-bezier(0.4, 0, 0.2, 1), 250ms color cubic-bezier(0.4, 0, 0.2, 1);
}
.header__contacts-color:hover,
.header__contacts-color:focus {
    color: #2196f3;
    fill: #2196f3;
}
.header__contact-icon {
margin-right: 10px;
color: #afb1b8;
}

/* Styles for main section INDEX PAGE ONLY*/

/* Top section with button */
.top-section {
  background-color: rgba(47, 48, 58, 0.4);
  background-image: linear-gradient(0deg, rgba(47, 48, 58, 0.4) 0%, rgba(47, 48, 58, 0.4) 100% ), url(../images/img-work.jpg);
  color: #fff;
  max-width: 1600px;
  margin: 0 auto;
}
.top-section__container {
  display: flex;
  gap: 30px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 200px 0;
}
.top-section__header {
  font-size: 44px;
  font-weight: 900;
  text-align: center;
  line-height: 1.364;
  letter-spacing: 0.06em;
  max-width: 696px;
}
.top-section__button {
  background-color: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-style: none;
  border-radius: 4px;
  cursor: pointer;
  font-family: "Roboto";
  color: #fff;
  width: 200px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  text-align: center;
  align-items: center;
  letter-spacing: 0.06em;
}
/* Our speciality section */
.our-speciality {
  display: flex;
  list-style: none;
  flex-direction: row;
  gap: 30px;
  justify-content: center;
  padding: 94px 0 0 0;
}
.our-speciality__header {
  font-weight: 700;
  color: #212121;
  margin: 0 0 10px 0;
  font-size: 14px;
  line-height: 1.1428571428571428;
}
.our-speciality__text {
  line-height: 0.03em;
  line-height: 1.71;
  width: 270px;
  margin: 0;
}
.our-speciality__icon {
  background-color: #f5f4fa;
  height: 120px;
  width: 270px;
  border-radius: 4px;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* Our working section */
.working__heading, .team__heading, .clients__heading {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.166666666666667;
    text-align: center;
    color: #212121;
    margin: 0px 0 50px 0;
}
.working__list {
  align-items: center;
  flex-direction: column;
  padding-top: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  gap: 30px;
  list-style: none;
  margin: 0;
  justify-content: center;
}

.working__item {
position: relative;
}
.working__img-label {
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 0;
  width: 100%;
  font-weight: 700;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  padding: 27px 0px;
  color: #fff;
  background-color: rgba(47, 48, 58, 0.8);
}

/* Team section */
.team {
    background-color: #f5f4fa;
}
.team__list {
  display: flex;
  flex-direction: row;
  gap: 30px;
  list-style: none;
  justify-content: center;
}
.team__item {
  background-color: #fff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  text-align: center;
  align-items: center;
  margin: 0;
  display: flex;
  flex-direction: column;
}
.team__name {
  margin: 30px 0 10px 0;
  color: #212121;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.1875;
}
.team__description {
  margin: 0 0 30px 0;
  line-height: 1.1875;
  font-size: 16px;
  text-align: center;
}
.team__social-list {
  display: flex;
  gap: 10px;
  margin-bottom: 30px;
}
.team__social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  background-color: #fff;
  border-radius: 50%;
  fill: #afb1b8;
  background-color: #fff;
  transition: 250ms fill cubic-bezier(0.4, 0, 0.2, 1), 250ms background-color cubic-bezier(0.4, 0, 0.2, 1);
}

.team__social-link:hover,
.team__social-link:focus {
  background-color: #2196f3;
  fill: #fff;
}
/* Clients section */
.client {
  padding: 94px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.clients__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  fill: #afb1b8;
  border-radius: 4px;
  transition: 250ms fill cubic-bezier(0.4, 0, 0.2, 1), 250ms border-color cubic-bezier(0.4, 0, 0.2, 1);
}
.clients__link:hover,
.clients__link:focus {
  fill: #2196f3;
  border-color: #2196f3;
}
.clients__list {
  display: flex;
  gap: 30px;
  align-items: center;
  justify-content: center;
}

/* Styles for main section PORTFOLIO PAGE ONLY */

.portfolio__filter-list {
  display: flex;
  justify-content: center;
  gap: 8px;
  list-style: none;
  margin-bottom: 50px;
  }
.portfolio__button {
  background-color: #f5f4fa;
  border-width: 0;
  height: 38px;
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  border-radius: 3px;
  padding: 6px 22px;
  font-family: "Roboto";
  transition: 250ms background-color cubic-bezier(0.4, 0, 0.2, 1), 250ms color cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio__button:focus,
.portfolio__button:hover {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
    color: #fff;
    background-color: #2196f3;
    cursor: pointer;
}
.portfolio__list {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  list-style: none;
  align-items: center;
  justify-content: center;
}
.portfolio__item {
  width: 370px;
  background-color: #fff;
  flex-basis: calc((100% - 90px) / 4);
  margin: 0;
   border: 1px solid #eeeeee;
  transition: 250ms box-shadow cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio__item:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
  cursor: pointer;
}

.portfolio__label {
  position: relative;
  overflow: hidden;
}
.portfolio__text {
  position: absolute;
  top: 0;
  left: 0;
  width: 370px;
  background: rgba(33, 150, 243, 0.9);
  font-size: 18px;
  line-height: 1.56;
  color: #fff;
  padding: 49px 45px 49px 24px;
  transform: translateY(100%);
  transition: 250ms transform cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio__item:hover .portfolio__text {
  transform: translateY(0);
}

.portfolio__heading {
  color: #2f303a;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.06em;
  line-height: 2;
  margin: 0;
  padding: 20px 24px 0 24px;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
}
.portfolio__description {
  line-height: 1.88;
  font-size: 16px;
  margin: 0;
  padding: 0 24px 20px 24px;
  border: 1px solid #eeeeee;
  border-top: 0;
}
/* Styles for footer section */

.footer {
  background-color: #2f303a;
  padding: 60px 0;
}
.footer__container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  color: #fff;
  gap: 70px;
}
.footer__address {
  margin: 20px 0 0 0;
  font-style: normal;
  color: #fff;
}
.footer__logo-color {
    color: #2196f3;
}
.footer__logo {
    font-family: "Raleway",sans-serif;
    font-size: 26px;
    font-weight: 700;
    color: #fff;
    line-height: 1.193;
    letter-spacing: 0.03em;
}
.footer__links {
    display: flex;
    flex-direction: column;
    gap: 9px;
    margin: 9px 0;
    list-style: none;
    padding: 0;
}
.footer__link {
  color: rgba(255,255,255,.6);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__contact-item {
  margin: 9px 0 9px 0;
}
.footer__contact-link {
    color: rgba(255,255,255,.6);
    transition: 250ms color cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__heading {
  font-weight: 700;
  line-height: 1.14;
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.footer__socials-list {
    display: flex;
    gap: 10px;
    list-style: none;
    padding: 0;
    align-items: center;
    justify-content: center;
}
.footer__icons {
  display: flex;
  gap: 10px;
  list-style: none;
  padding: 0;
}
.footer__social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255,255,255,.1);
  fill: #fff;
  transition: 250ms background-color cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__form { 
  display: flex;
  align-items: center;
}
.footer__input {
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: #2f303a;
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
  padding: 15px 16px;
  margin-right: 12px;
  outline: none;
  }
.footer__input:hover,
.footer__input:focus {
border: 1px solid #2196f3;
}
.footer__button {
  width: 200px;
  height: 50px;
  background: #2196F3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  fill: #fff;
  color: #fff;
  border-radius: 4px;
  margin-left: 12px;
  padding: 10px 0 10px 42px;
  border: none;
  display: flex;
  align-items: center;
  text-align: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  cursor: pointer;

}
.footer__button-icon {
  margin-left: 24px;
}

/* modal window */

.backdrop {
  position: fixed;
  display: flex;
  background-color: rgba(0, 0, 0, 0.2);
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  transition: visibility 250ms cubic-bezier(0.4, 0, 0.2, 1),opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: relative;
  width: 528px;
  height: 581px;
  background-color: #fff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  margin: auto;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.is-hidden .modal {
  transform: scale(0);
}

.modal__button-close {
  position: absolute;
  width: 30px;
  height: 30px;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 8px;
  right: 8px;
}
.modal__button-close:hover,
.modal__button-close:focus {
    border: 1px solid #2196f3;
    color: #2196f3;
}
.modal__heading {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  top: 50%;
  left: 50%;
  letter-spacing: 0.03em;
  text-align: center;
  margin-top: 40px;
  margin-left: 40px;
  margin-right: 40px;
  margin-bottom: 12px;
  color: #212121;
}

.modal__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 12px 40px 0 40px;
}

.modal__label {
  display: block;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: #757575;
  margin-bottom: 4px;
}

.modal__input {
  width: 448px;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 12px 12px 42px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__input-icon {
    fill: #212121;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__form-highlight:hover > .modal__input,
.modal__form-highlight:focus-within > .modal__input,
.modal__form-highlight:hover > .modal__input-text,
.modal__form-highlight:focus-within > .modal__input-text,
.modal__form-highlight:hover > .modal__input-icon,
.modal__form-highlight:focus-within > .modal__input-icon {
  fill:#2196f3;
  border-color: #2196f3;
  outline: none;
}
.modal__form-highlight {
  position: relative;
  margin-bottom: 10px;
}

.modal__input-icon--position-1 {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 15px;
}

.modal__input-icon--position-2 {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 15px;
}
.modal__input-icon--position-3 {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 15px;
}

.modal__input-text {
  width: 448px;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-top: 4px;
  margin-bottom: 20px;
  resize: none;
  padding: 12px 16px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__agreements {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.modal__agreement-text {
  padding-left: 8px;
  cursor: pointer;
}
.modal__agreement-link {
  color: #2196f3;
}

.modal__button-send {
  width: 200px;
  height: 50px;
  background-color: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #fff;
  border: none;
  padding: 10px 76px;
  margin: 0 auto;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__box-hidden {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

.modal__box-custom {
  width: 16px;
  height: 15px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-image: url("data:image/svg+xml,%0A%3Csvg width='16' height='15' viewBox='0 0 16 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14.2222 1.66667V13.3333H1.77778V1.66667H14.2222ZM14.2222 0H1.77778C0.8 0 0 0.75 0 1.66667V13.3333C0 14.25 0.8 15 1.77778 15H14.2222C15.2 15 16 14.25 16 13.3333V1.66667C16 0.75 15.2 0 14.2222 0Z' fill='%23212121'/%3E%3C/svg%3E%0A");
  cursor: pointer;
}

.modal__box-custom:checked {
  background-image: url("data:image/svg+xml,%0A%3Csvg width='16' height='15' viewBox='0 0 16 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='16' height='15' rx='2' fill='%232196F3'/%3E%3Cpath d='M3.95703 7.75166L3.88825 7.68604L3.81923 7.75141L2.93123 8.59258L2.85486 8.66492L2.93097 8.73753L6.42671 12.0724L6.49574 12.1382L6.56476 12.0724L14.069 4.91352L14.1449 4.84116L14.069 4.76881L13.1873 3.92764L13.1183 3.86183L13.0493 3.92761L6.49577 10.1735L3.95703 7.75166Z' fill='white' stroke='white' stroke-width='0.2'/%3E%3C/svg%3E%0A");
}