@import "./utils/variables";
@import "./utils/resets";
@import "./utils/body";
@import "./components/header";
@import "./components/footer";
@import "./components/top-section";
@import "./components/modal";
@import "./components/our-speciality";
@import "./components/working";
@import "./components/team";
@import "./components/clients";
@import "./components/portoflio";