.clients {
  padding: 94px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

&__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 92px;
  border: 1px solid $iconcolor;
  fill: $iconcolor;
  border-radius: 4px;
  transition: 250ms fill $transition, 250ms border-color $transition;

&:hover,
&:focus {
  fill: $blue;
  border-color: $blue;
}
}
&__heading {
   display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.166666666666667;
    text-align: center;
    color: $notblack;
    margin: 0px 0 50px 0;
}
&__list {
  display: flex;
  gap: 30px;
  align-items: center;
  justify-content: center;
}
}