.clients {

&__item {
  flex-basis: calc((100% - 30px) / 2);
  height: 92px;
  display: flex;
  align-items: center;
  justify-content: center;
}

&__link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  border: 1px solid $iconcolor;
  fill: $iconcolor;
  border-radius: 4px;
  transition: 250ms fill $transition, 250ms border-color $transition;

&:hover,
&:focus {
  fill: $blue;
  border-color: $blue;
}
}
&__heading {
   display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.166666666666667;
    text-align: center;
    color: $notblack;
    margin: 0px 0 50px 0;
}
&__list {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: center;
    align-items: center;
    flex-direction: row;
  // padding: 0 15px;
}

@media screen and (min-width: 768px) {
  .clients {
    &__list {
      max-width: 100%;
      margin: 0;
    }

    &__item {
      flex-basis: calc((100% - 60px) / 3);
    }
  }
}

@media screen and (min-width: 1200px) {
  .clients {
    &__item {
      flex-basis: calc((100% - 150px) / 6);
    }
  }
}
}
