.footer {
  background-color: $darkgrey;
  padding: 60px 0;

&__container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  color: $white;
  gap: 70px;
}

&__heading {
  font-weight: 700;
  line-height: 1.14;
  color: $white;
  text-transform: uppercase;
  margin-bottom: 20px;
}

&__address {
  margin: 20px 0 0 0;
  font-style: normal;
  color: $white;
}

&__contact-item {
  margin: 9px 0 9px 0;
}

&__contact-link {
  color: rgba(255, 255, 255, 0.6);
  transition: 250ms $transition;

  &:hover,
  &:focus {
    color: $blue;
  }
}
&__socials-list {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

&__social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  fill: $white;
  transition: 250ms background-color $transition;

  &:hover, 
  &:focus {
    background-color: $blue;
  }
}

&__logo {
  font-family: "Raleway",sans-serif;
  font-size: 26px;
  font-weight: 700;
  color: $white;
  line-height: 1.193;
  letter-spacing: 0.03em;

&-color {
  color: $blue;
}
}

&__links {
  display: flex;
  flex-direction: column;
  gap: 9px;
  margin: 9px 0;
}

&__icons {
  display: flex;
  gap: 10px;}

&__form {
  display: flex;
  align-items: center;
}

&__input {
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: $darkgrey;
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
  padding: 15px 16px;
  margin-right: 12px;
  outline: none;

  &:hover, &:focus {
    border: 1px solid $blue;
  }
}

&__button {
  width: 200px;
  height: 50px;
  background: $blue;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  fill: $white;
  color: $white;
  border-radius: 4px;
  margin-left: 12px;
  padding: 10px 0 10px 42px;
  border: none;
  display: flex;
  align-items: center;
  text-align: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  cursor: pointer;
}

&__button-icon {
  margin-left: 24px;
}
}