.header-line-border {
border-bottom: solid 1px $lightcream;
}
.header {
  display: flex;
  align-items: center;
  padding: 16px 23px 16px 15px;
  justify-content: space-between;

&__logo {
  font-family: "Raleway";
  color: $black;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.193;
  letter-spacing: 0.03em;

&-color {
  color: $blue;
}
}

&__nav {
  display: none;
  line-height: 1.2;
  font-weight: 500;

  &-color {
  color: $notblack;
  transition: 250ms $transition;

  &:hover, 
  &:focus {
    color: $blue;
  }
}
}
&__active::after {
    content: '';
    display: block;
    height: 4px;
    top: 45px;
    bottom: 0;
    left: 0;
    background-color: $blue;
    transform: translateY(30px);
    border-radius: 2px;
}
&__active {
  color: $blue;
}
&__contacts {
  flex-direction: row;
  display: none;

&-color {
  color: $grey;
  fill: $grey;
  transition: 250ms fill $transition, 250ms color $transition;

&:hover, &:focus {
    color: $blue;
    fill: $blue;
  }
}
}
&__contact-icon {
  margin-right: 10px;
  color: $iconcolor;
}
&__button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  fill: $notblack;
  cursor: pointer;
  border: none;

  &:hover,
  &:focus {
    fill: $blue;
  }
}
}
@media screen and (min-width: 768px) {
  .header {
    width: 100%;
    // padding: 26px 15px;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;

    &__button {
      width: 24px;
      height: 16px;
      display: none;
    }

    &__nav {
        line-height: 1.2;
        font-weight: 500;
        gap: 46px;
        display: flex;
        justify-content: space-between;
        margin-right: 60px;
      }
    
    &__contacts {
      font-weight: 500;
      letter-spacing: .02em;
      line-height: 1.2;
      gap: 10px;
      flex-direction: column;
      display: flex;
      
    }
    &__contact-icon {
      margin-right: 10px;
    }
  }

@media screen and (min-width: 1200px) {
  .header {
      padding: 25px 0 24px 0;
      gap: 93px;
      align-items: center;
      justify-content: center;
      flex-direction: row;

      &__button {
        display: none;
      }

    &__contacts {
      font-weight: 500;
      line-height: 1.2;
      display: flex;
      flex-direction: row;
      gap: 50px;
      // margin-left: auto;
    }

    &__contact-icon {
      margin-right: 10px;
    }

    &__nav {
      display: flex;
      flex-direction: row;
      gap: 46px;
    }
  }
}
}