.header-line-border {
border-bottom: solid 1px $lightcream;
}
.header {
  align-items: center;
  gap: 93px;
  flex-direction: row;
  padding: 25px 0 24px 0;
  display: flex;
  justify-content: center;

&__logo {
  font-family: "Raleway";
  color: $black;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.193;
  letter-spacing: 0.03em;

&-color {
  color: $blue;
}
}

&__nav {
  display: flex;
  align-items: center;
  line-height: 1.2;
  gap: 46px;
  font-weight: 500;

  &-color {
  color: $notblack;
  transition: 250ms $transition;

  &:hover, 
  &:focus {
    color: $blue;
  }
}
}
&__active::after {
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    top: 45px;
    bottom: 0;
    left: 0;
    background-color: $blue;
    transform: translateY(30px);
    border-radius: 2px;
}
&__active {
  color: $blue;
}
&__contacts {
  display: flex;
  font-weight: 500;
  letter-spacing: .02em;
  line-height: 1.2;
  gap: 50px;
  margin-left: auto;
  align-items: center;
  justify-content: center;

&-color {
  line-height: 1.14;
  color: $grey;
  fill: $grey;
  transition: 250ms fill $transition, 250ms color $transition;

&:hover, &:focus {
    color: $blue;
    fill: $blue;
  }
}
}
&__contact-icon {
  margin-right: 10px;
  color: $iconcolor;
}
}
