.backdrop {
    position: fixed;
    display: flex;
    background-color: rgba(0, 0, 0, 0.2);
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    transition: visibility 250ms $transition, opacity 250ms $transition;
}
.modal {
    position: relative;
    width: 528px;
    height: 581px;
    background-color: $white;
    box-shadow: 0px 1px 3px rgb(0 0 0 / 12%), 0px 1px 1px rgb(0 0 0 / 14%), 0px 2px 1px rgb(0 0 0 / 20%);
    border-radius: 4px;
    margin: auto;
    transition: transform 250ms $transition;

    &__button-close {
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: $white;
    border: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 8px;
    right: 8px;

    &:hover,
    &:focus {
        border: 1px solid $blue;
        color: $blue;
    }
    }

    &__heading {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    top: 50%;
    left: 50%;
    letter-spacing: 0.03em;
    text-align: center;
    margin-top: 40px;
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 12px;
    color: $notblack;
    }

    &__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 12px 40px 0 40px;
    }

    &__label {
    display: block;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: $grey;
    margin-bottom: 4px;
    }

&__input {
    width: 448px;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding: 12px 12px 12px 42px;
    transition: border-color 250ms $transition;
}

&__input-icon {
    fill: $notblack;
    transition: fill 250ms $transition;

    &--position-1 {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 15px;
    }

    &--position-2 {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 15px;
    }

    &--position-3 {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 15px;
    }
}
&__input-text {
  width: 448px;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-top: 4px;
  margin-bottom: 20px;
  resize: none;
  padding: 12px 16px;
  transition: border-color 250ms $transition;
}

&__agreements {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

&__agreement-text {
    padding-left: 8px;
    cursor: pointer;
}

&__agreement-link {
    color: $blue;
}

&__button-send {
    width: 200px;
  height: 50px;
  background-color: $blue;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: $white;
  border: none;
  padding: 10px 76px;
  margin: 0 auto;
  cursor: pointer;
  transition: background-color 250ms $transition;
}

&__box-hidden {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

&__box-custom {
  width: 16px;
  height: 15px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-image: url("data:image/svg+xml,%0A%3Csvg width='16' height='15' viewBox='0 0 16 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14.2222 1.66667V13.3333H1.77778V1.66667H14.2222ZM14.2222 0H1.77778C0.8 0 0 0.75 0 1.66667V13.3333C0 14.25 0.8 15 1.77778 15H14.2222C15.2 15 16 14.25 16 13.3333V1.66667C16 0.75 15.2 0 14.2222 0Z' fill='%23212121'/%3E%3C/svg%3E%0A");
  cursor: pointer;

&:checked {
  background-image: url("data:image/svg+xml,%0A%3Csvg width='16' height='15' viewBox='0 0 16 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='16' height='15' rx='2' fill='%232196F3'/%3E%3Cpath d='M3.95703 7.75166L3.88825 7.68604L3.81923 7.75141L2.93123 8.59258L2.85486 8.66492L2.93097 8.73753L6.42671 12.0724L6.49574 12.1382L6.56476 12.0724L14.069 4.91352L14.1449 4.84116L14.069 4.76881L13.1873 3.92764L13.1183 3.86183L13.0493 3.92761L6.49577 10.1735L3.95703 7.75166Z' fill='white' stroke='white' stroke-width='0.2'/%3E%3C/svg%3E%0A");
}
}
}
.modal__form-highlight {
  &:hover > .modal__input, &:focus-within > .modal__input, &:hover > .modal__input-text, &:focus-within > .modal__input-text, &:hover > .modal__input-icon, &:focus-within > .modal__input-icon {
    fill: $blue;
    border-color: $blue;
    outline: none;
  }

  position: relative;
  margin-bottom: 10px;
}
.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.is-hidden .modal {
transform: scale(0);
}
