.our-speciality {
    // display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
    padding: 60px 15px 60px 15px;

&__lorem {
  width: 100%;
  flex-basis: 100%;
}

&__header {
  font-weight: 700;
  color: $notblack;
  margin: 0 0 10px 0;
  font-size: 14px;
  line-height: 1.1428571428571428;
  text-align: center;
  width: 100%;
}

&__text {
  line-height: 1.71;
}
&__icon {
  background-color: $notwhite;
  height: 120px;
  border-radius: 4px;
  margin-bottom: 30px;
  flex-direction: row;
  align-items: center;
  display: flex;
  justify-content: center;
}
}

@media screen and (min-width: 768px) {
  .our-speciality {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 30px;
    justify-content: center;
    flex-wrap: wrap;

  &__lorem {
    flex-basis: calc((50% - 30px) / 2);
  }

  &__header {
  font-weight: 700;
  color: $notblack;
  }

  &__text {
    line-height: 1.71;
  }

  &__icon {
    width: 354px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    border-radius: 4px;
    margin-bottom: 30px;
    height: 120px;
    background-color: $notwhite;
  }
}
}

@media screen and (min-width: 1200px) {
  .our-speciality {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;

    &__lorem {
      flex-basis: calc((100% - 90px) / 4);
    }

    &__header {
      font-weight: 700;
      color: $notblack;
  }

  &__text {
    line-height: 1.71;
  }
  &__icon {
    width: 270px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    border-radius: 4px;
    margin-bottom: 30px;
    height: 120px;
    background-color: $notwhite;
  }
}
}