.working {

&__heading {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.166666666666667;
    text-align: center;
    color: $notblack;
    margin: 0px 0 50px 0;
}
&__item {
position: relative;
}
&__list {
  align-items: center;
  flex-direction: column;
  padding-top: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  gap: 30px;
  justify-content: center;
}
&__img-label {
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 0;
  width: 100%;
  font-weight: 700;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  padding: 27px 0px;
  color: $white;
  background-color: rgba(47, 48, 58, 0.8);
}
}