body {
  font-family: "Roboto", "Raleway", sans-serif;
  color: $grey;
  font-size: 14px;
  letter-spacing: 0.03em;
  background-color: $white;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.section { 
padding-top: 94px;
padding-bottom: 94px;
}
