body {
  font-family: "Roboto", "Raleway", sans-serif;
  color: $grey;
  font-size: 14px;
  letter-spacing: 0.03em;
  background-color: $white;
}

.container {
  width: 100%;
  margin: 0 auto;
  min-width: 290px;
  max-width: 1600px;
}
.section {
  padding: 60px 15px 60px 15px;
  margin: 0 auto;
}

