$white: #fff;
$black: #000;
$blue: #2196f3;
$darkgrey: #2f303a;
$grey: #757575;
$lightgrey: #e5e5e5;
$lightcream: #ececec;
$notblack: #212121;
$notwhite: #f5f4fa;
$footerlinks: #ffffff60;
$productborder: #eeeeee;
$background: rgba(47, 48, 58, 0.4);
$iconcolor: #afb1b8;
$btn-shadow: rgba(0, 0, 0, 0.15);
$footericon: rgba(255, 255, 255, 0.1);
$transition: cubic-bezier(0.4, 0, 0.2, 1);